<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title})">
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="fill-black"></div>

    <!-- contact form -->
    <div class="mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="form-title">
                        <h2>로그인</h2>
                        <p>아이디와 비밀번호를 입력해주세요</p>
                    </div>
                    <div class="login-form">
                        <form id="fruitkha-contact" th:action="@{/member/login}" method="post" onSubmit="return valid_datas( this );">
                            <p><input type="text" placeholder="아이디" name="username" id="username" required="required"></p>
                            <p><input type="password" placeholder="비밀번호" name="password" id="password" required="required"></p>
                            <p><input type="submit" value="로그인"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
            </div>
        </div>
    </div>
    <!-- end contact form -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>