<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title})">
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="/assets/css/memberRegistration.css">
<body>
    <!-- contact form -->
    <div id="top" class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="form-title">
                        <h2>회원가입</h2>
                        <p>회원정보를 입력해주세요. 모두 입력하셔야 가입이 가능합니다.</p>
                    </div>
                    <div class="login-form">
                        <form id="fruitkha-contact" th:object="${member}" th:action="@{/member/registration}" method="post">
                            <p>
                                <input type="text" placeholder="아이디" th:errorclass="field-error" th:field="*{username}" required>
                                <div class="field-error" th:errors="*{username}">
                                    아이디 오류
                                </div>
                            </p>
                            <p>
                                <input type="text" placeholder="이름" th:errorclass="field-error" th:field="*{name}" required>
                                <div class="field-error" th:errors="*{name}">
                                    이름 오류
                                </div>
                            </p>
                            <p>
                                <input type="password" placeholder="비밀번호" th:errorclass="field-error" th:field="*{password}" required>
                                <div class="field-error" th:errors="*{password}">
                                    비밀번호 오류
                                </div>
                            </p>
                            <p>
                                <input type="password" placeholder="비밀번호 확인" th:errorclass="field-error" th:field="*{rePassword}" required>
                                <div class="field-error" th:errors="*{rePassword}">
                                    비밀번호 재입력 오류
                                </div>
                            </p>
                            <p>
                                <input type="email" placeholder="이메일" th:errorclass="field-error" th:field="*{email}" required>
                                <div class="field-error" th:errors="*{email}">
                                    이메일 오류
                                </div>
                            </p>
                            <p>
                                <input type="text" placeholder="주소" th:errorclass="field-error" th:field="*{address}" required>
                                <div class="field-error" th:errors="*{address}">
                                    주소 오류
                                </div>
                            </p>
                            <p>
                                <input type="text" placeholder="휴대폰, '-'는 빼고 입력해 주세요." maxlength="11" th:errorclass="field-error" th:field="*{phone}" required>
                                <div class="field-error" th:errors="*{phone}">
                                    휴대폰 번호 오류
                                </div>
                            </p>
                            <p><input type="submit" value="가입하기"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
            </div>
        </div>
    </div>
</body>
</html>