<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title})">
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<link rel="stylesheet" href="/assets/css/home.css">
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!-- hero area -->
    <div class="hero-area home-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Innovate Your Life</p>
                            <h1>Be What's Next</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->
    <!-- product section -->
    <div class="product-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">Our</span> Products</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 text-center" th:each="item : ${items}">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html"><img th:src="@{${item.itemRepImgDto.imgUrl}}"></a>
                        </div>
                        <h3 th:text="${item.itemName}">상품 이름</h3>
                        <p class="product-price"><span th:text="${item.status.description}">품절</span>[[${item.price}]]원</p>
                        <a th:href="@{/shop/{id}(id=${item.id})}" class="cart-btn">상품 보기</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>